@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titan+One&family=Titillium+Web:wght@200&display=swap");
body {
  max-width: 90vw;
  max-height: 100vw;
  margin: auto;
  padding: 4%;
  background-color: #ffeedb;
  font-family: Poppins, sans-serif;
}
h1 {
  font-size: 50px;
  letter-spacing: 3px;
  color: #a0cfd3;
  font-family: "Titan One", cursive;
  font-family: "Titillium Web";
  font-weight: bold;
}
h1:hover {
  color: hotpink;
}
.border {
  width: 80px;
  height: 2px;
  margin-bottom: 24px;
  background-color: #a0cfd3;
}
li {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 2%;
}
.home-list-item {
  display: inline-block;
  color: #ada7d1;
  text-shadow: 1px 1px 1px #a0cfd3;
  transition: all 200ms linear;
  position: sticky;
  top: 0;
}
.home-list-item:hover {
  transform: translateX(1rem);
}
a:link {
  color: black;
  text-decoration: none;
  font-size: 23px;
}
a:hover {
  color: hotpink;
  transform: translateY(1rem);
}
.icons {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #a0cfd3;
  transition: transform 0.3s ease-out;
  padding: 0 5rem;
}
.btn {
  display: inline-block;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.37rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  position: relative;
  left: -30px;
  transition-duration: 100ms;
}
p {
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.sections {
  padding: 2%;
}
.cnter {
  text-align: center;
}
h2 {
  font-size: 35px;
  padding: 2%;
}
h4 {
  font-size: 30px;
}

.skills {
  text-align: center;
  word-spacing: 10px;
  position: relative;
  top: -18px;
}
.main-img {
  position: relative;
  left: 150px;
  bottom: 10px;
  width: 350px;
}
footer {
  padding: 6%;
}
.headings {
  margin-left: 90px;
}
.content {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.article {
  flex-grow: 1;
  padding: 1rem;
  margin: 1rem;
  min-width: 500px;
}
img {
  position: relative;
  left: 250px;
  padding: 0%;
}
h4 {
  text-align: center;
}
.projects-grid p {
  font-size: 20px;
  margin: 0;
}
.projects-section-header {
  font-family: "Open Sans";
  font-size: 30px;
  max-width: 640px;
  /* margin: 0 auto 3rem auto; */
  border-bottom: 0.2rem solid var(#d05353);
  position: relative;
  left: 170px;
}
.projects-section {
  text-align: center;
  padding: 2%;
}
@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
  .sections{
    padding: 10%;
  }
}
/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
@media (max-width: 30.625em) {
  .projects-section {
    padding: 4rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
  html {
    margin: auto;
    padding: 15%;
  }
}
.project {
  background: #a0cfd3;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.code {
  color: #260403;
  transition: color 0.3s ease-out;
}
.project:hover .code {
  color: #ff7f50;
}
.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
img {
  position: relative;
  left: -0px;
}
.cnter {
  color: rgb(132, 105, 155);
  position: relative;
  left: -10px;
}
.projects-section {
  background: #f6aafd;
  padding-bottom: 0%;
}
.lang {
  position: relative;
  left: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
}
@media (max-width: 600px) {

  .sections {
    position: relative;
    left: 300px
  }
  .main-img {
    position: relative;
    left: -180px;
  }
  p {
    width: 400px;
  }
  .things {
    position: relative;
    left: -10px;
  }
  .movegrid{
    position: relative;
    left: 150px;
  }
}
.things {
    position: relative;
    left: -10px;
  }

  /* Move Projects Grid */
  
